@model EngineersMatrimony.Models.Profile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CardLayout.cshtml";

}



<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="250px" src=@Html.DisplayFor(model=>model.Photo1)><span class="font-weight-bold">@Html.DisplayFor(model=>model.PName)</span><span class="text-black-50">@Html.DisplayFor(model=>model.Email)</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right mt-5">
            <div class="p-3 py-5">

                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Name:</label>            @Html.DisplayFor(model => model.PName)
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Birthday:</label>            @Html.DisplayFor(model => model.DOB)
                    </div>
                    <div class="col-md-6">
                        <label class="labels">District:</label>            @Html.DisplayFor(model => model.District)
                    </div>
                </div>
                <hr />
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Mobile Number:</label>            @Html.DisplayFor(model => model.Phone)
                    </div>


                    <div class="col-md-6">
                        <label class="labels">Email ID:</label>            @Html.DisplayFor(model => model.Email)
                    </div>
                </div>
                <hr />
                <div class="row mt-3">
                    <div class="col-md-4">
                        <label class="labels">Education:</label>            @Html.DisplayFor(model => model.Education)
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Occupation:</label>            @Html.DisplayFor(model => model.Occupation)
                    </div>
                    <div class="col-md-4">
                        <label class="labels">Annual Income:</label>            @Html.DisplayFor(model => model.AnnualIncome)
                    </div>
                </div>
                <hr />
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Marital Status:</label>            @Html.DisplayFor(model => model.MStatus)
                    </div>


                    <div class="col-md-6">
                        <label class="labels">Gender:</label>            @Html.DisplayFor(model => model.Gender)
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels">Height:</label>            @Html.DisplayFor(model => model.Height)
                    </div>


                    <div class="col-md-6">
                        <label class="labels">Weight:</label>            @Html.DisplayFor(model => model.Weight)
                    </div>
                </div>



              


            </div>
        </div>
      
    </div>
</div>

