@model EngineersMatrimony.Models.Profile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Education)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
