@model EngineersMatrimony.Models.Interest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Interest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatchScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account1.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account1.Username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IntID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
