@model List<EngineersMatrimony.Models.Basic_Profile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CardLayout.cshtml";

}



<div class="card-body">
    <div class="row">


        @foreach (var item in Model)
        {
            //if (!(ViewBag.intrestedIds.Contains((int)item.MID)))
            //{

            <section class="col bg-faded container-fluid">

                <div class="card profile-card" style="width:15rem;">
                    <figure style="height:250px">
                        <input id="fab" type="checkbox" class="fab"><label for="fab" class="toggle" style="background-color:darkred" onclick="location.href='@Url.Action("UnIntrested", "Basic_Profile",item)'">-</label>
                        <img src=@item.Photo1 class="img-fluid img-profile" alt="Card image" height="300" width="400">

                    </figure>
                    <div class="card-block text-xs-center">
                        <p class="h4 card-title font-weight-bold">@Html.DisplayFor(modelItem => item.MID)</p>
                        <p class="h6 card-subtitle text-muted">
                            @{
                                var date = DateTime.Now.Date.Subtract(item.DOB);
                                int age = (int)date.TotalDays / 365;
                                @Html.DisplayTextFor(model => age);
                            }
                            |
                            <span>@Html.DisplayFor(modelItem => item.District)</span>
                            @*<p class="h6 card-subtitle text-muted">
                                    Score: @ViewBag.MidScoreMap[(int)item.MID]
                                </p>*@






                    </div>
            </section>
            @*  *@}
        }
    </div>
</div>






